.card-parent {
	width: 80%;
	margin: 5% 0 5% 10%;
	background-color: white;
	padding: 2% 0 2% 0;
	box-shadow: 0px 4px 8px 0px #757575;
}

.card {
	width: 40%;
	margin: 2%;
	box-shadow: 0px 4px 8px 0px #757575;
}

.profile {
	width: 100px;
	height: 80px;
	border-radius: 360%;
}

